<main class="bg-stone-800 h-full text-white px-60 py-14 flex flex-col gap-10">
    <h1 class="text-4xl font-bold">Criar nova Categoria</h1>

    <form class="flex flex-col w-96 gap-2">
        <label for="cnome" class="text-xl">Nome:</label>
        <input type="text" name="cnome" id="cnome" placeholder="Digite o nome da nova categoria" class="border border-stone-600 bg-transparent rounded-xl p-4">
        <div class="flex flex-row justify-end mt-3 gap-3">
            <button class="rounded-md bg-red-200 py-2 px-4 hover:bg-red-500 text-black hover:text-white">Cancelar</button>
            <button class="rounded-md bg-lime-200 py-2 px-4 hover:bg-lime-500 text-black hover:text-white">Cadastrar</button>
        </div>
    </form>
</main>