<main class="bg-stone-800 h-full text-white px-60 py-14 flex flex-col gap-10">
    <h1 class="text-4xl font-bold">Dashboard</h1>
    <h3 class="text-2xl font-bold">Visão Geral</h3>
    
    <div class="grid grid-cols-3 gap-10">
        <div class="rounded-2xl border border-stone-600 w-full p-6">
            <p class="text-lg">Total de Produtos</p>
            <p class="text-2xl font-bold">{{ dashboard.totalProdutos }}</p>
        </div>
        <div class="rounded-2xl border border-stone-600 w-full p-6">
            <p class="text-lg">Total de Estoques</p>
            <p class="text-2xl font-bold">{{ dashboard.totalEstoques }}</p>
        </div>
        <div class="rounded-2xl border border-stone-600 w-full p-6">
            <p class="text-lg">Produtos com estoque baixo</p>
            <p class="text-2xl font-bold">{{ dashboard.quantidadeProdutosComEstoqueBaixo }}</p>
        </div>
    </div>

    <h3 class="text-2xl font-bold">Produtos com estoque baixo</h3>

    <div class="relative overflow-x-auto shadow-md border border-stone-600 rounded-2xl" *ngIf="listaProdutosComEstoqueBaixo.itens && listaProdutosComEstoqueBaixo.itens.length > 0; else semProdutos">
        <table class="w-full border border-stone-600 text-left rtl:text-right">
            <thead class="bg-stone-700">
                <tr>
                    <th scope="col" class="px-6 py-3 text-center">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Nome
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Estoque
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Categoria
                    </th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Quantidade
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let produto of listaProdutosComEstoqueBaixo.itens" class="bg-stone-800 border-b border-stone-600">
                    <td class="px-6 py-4 text-center">
                        {{ produto.id }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ produto.nome }}
                    </td>
                    <td class="px-6 py-4 text-center" *ngIf="produto.estoqueNome !== undefined">
                        {{ produto.estoqueNome }}
                    </td>
                    <td class="px-6 py-4 text-center text-red-400" *ngIf="produto.estoqueNome === undefined">
                        Não alocado
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ produto.categoria.nome }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        {{ produto.quantidade }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="self-end" *ngIf="listaProdutosComEstoqueBaixo.temProximaPagina">
        <button 
            class="rounded-md bg-stone-600 py-2 px-4 hover:bg-stone-500" 
            (click)="carregarMaisProdutosComEstoqueBaixo()"
        >
            Mais
        </button>
    </div>
    <ng-template #semProdutos>
        <div class="w-full text-center border border-stone-600 rounded-2xl p-10">
            <h2 class="text-xl">Não existem produtos com estoque baixo para serem listados!</h2>
        </div>
    </ng-template>
</main>